<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" id="bootstrap-css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Pricing</title>
    <link href="/stylesheet/menu.css" type="text/css" rel="stylesheet">
    <link href="/stylesheet/menu.scss" type="text/css" rel="stylesheet">
    <link href="/stylesheet/account.css" type= "text/css" rel="stylesheet"  >
    <link  href="/stylesheet/footer.css"  type="text/css" rel="stylesheet" >
    
</head>

<body>
    <%- include ('nav.ejs') %> 
    <section id="home" class="mb-5" >
        <div class="container-fluid" style="padding: 0 !important;padding-right: 0;padding-left: 0;">
            <div class="container-fluid" style="padding-top: 50px; padding-bottom: 50px;">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="container " style="padding-bottom : 30px;">
                            <section id = "dashboard" style="width:100%; margin-bottom : 35px">
                                <div class="list-group shadow" bg-warning mb-3 >
                                    <a href="/account" class="list-group-item list-group-item-dark bg-secondary text-white " ><span style = 'margin-right:1.0em;'> Dashboard</span></a>
                                </div> 
                            </section>
                            <div class="list-group shadow" bg-warning mb-3 >
                                <a class="list-group-item text-dark" href="/pricing"><i class=" text-secondary"></i> <span>Upgrade</span></a>
                                <a href="#ApiResponse" class="list-group-item text-dark"><i class="text-secondary"></i> <span>Subscription Plan</span></a>
                                <a href="/paymentstatus" class="list-group-item text-dark"><i class="text-secondary"></i> <span>Payment</span></a>
                                <a href="#errors" class="list-group-item text-dark"><i class="text-secondary"></i> <span>API Usage</span></a>    
                            </div>
                            <section id = "dashboard" style="width:100%; margin-top: 35px">
                                <div class="list-group shadow" bg-warning mb-3 >
                                    <a href="/documentation" class="list-group-item text-dark  " ><span style = 'margin-right:1.0em;'> Documentation</span></a>
                                </div> 
                            </section>
                            

                        </div>
                    </div>
                    <div class="col-lg-9 "style="padding-right:0px;margin-top: 3.2rem;">
                        
                            <div class="jumbotron jumbotron-fluid shadow-sm " style="padding-bottom: 10px; padding-top:10px" >
                                <div class="container ">
                                    <h4 class=" text-secondary" > <i class="fa fa-key"></i>    Your API Access Key</h4>
                                    <br>
                                    <div class="container p-3 my-1 border" style="background-color:rgb(246, 247, 248); "> <%= data.key %>
                                        <a style = " padding: 5px; margin: 0; float: right; font-size: medium; letter-spacing: normal; position: absolute; right: 2rem; top: 5.3rem;background: #283f59; color: white; border-radius: 5px;"> Reset </a>
                                        <span> </span>
                                    </div>  
                                </div>
                            </div>
                        
                        <div class="jumbotron jumbotron-fluid shadow-sm " style="padding-bottom: 10px; padding-top:10px" >
                            <div class="container ">
                                <h4 class=" text-secondary" > Your Plan</h4>
                                <br>
                                <div class="container p-3 my-1 border" style="background-color:rgb(246, 247, 248); ">
                                    <table  class="details" >
                                    <tbody>
                                        <tr>
                                            <th>Subscription : </th>
                                            <td><%= data.paymentStatus%> plan</td>
                                        </tr>
                                        
                                        <tr>
                                            <th>API Usage : </th>
                                            <td>
                                                <span ><%= (((data.availableCalls - data.remainingCalls)/data.availableCalls)*100).toFixed(2) %>%</span>
                                                (<%=(data.availableCalls - data.remainingCalls)%>/<%= data.availableCalls %>)
                                            </td>
                                        </tr>
                                    </tbody>
                                    </table>
                                </div>  
                            </div>

                            <div class="container my-3">
                                <h4 class=" text-secondary" > Your Account</h4>
                                <br>
                                <div class="container p-3 my-1 border" style="background-color:rgb(246, 247, 248); ">
                                    <table class="details">
                                    <tbody>
                                        <tr>
                                            <th>Name :  </th>
                                            <td><%= currentUser.username%></td>
                                        </tr>
                                        
                                        <tr>
                                            <th>E-mail :  </th>
                                            <td>
                                                <%= currentUser.email %>
                                            </td>
                                        </tr>
                                    </tbody>
                                    </table>
                                </div>  
                            </div>
                            <div class="container my-3">
                                <h4 class=" text-secondary" > Payment</h4>
                                <br>
                                <div class="container p-3 my-1 border" style="background-color:rgb(246, 247, 248); ">
                                    <table class="details">
                                    <tbody>
                                        <tr>
                                            <th>Invoice ID:  </th>
                                            <td>
                                                <%= data.invoiceId%>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Billing period :  </th>
                                            <td>
                                                <%= data.billingDate%> - <%= data.expiringDate%>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Amount Paid :  </th>
                                            <td>
                                                $<%= data.amountPay%>
                                            </td>
                                        </tr>
                                    </tbody>
                                    </table>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('footer.ejs') %>
</body>